[submodule "ecosystem/bmb-samples"]
	path = ecosystem/bmb-samples
	url = https://github.com/lang-bmb/bmb-samples
[submodule "ecosystem/gotgan"]
	path = ecosystem/gotgan
	url = https://github.com/lang-bmb/gotgan
[submodule "ecosystem/action-bmb"]
	path = ecosystem/action-bmb
	url = https://github.com/lang-bmb/action-bmb
[submodule "ecosystem/tree-sitter-bmb"]
	path = ecosystem/tree-sitter-bmb
	url = https://github.com/lang-bmb/tree-sitter-bmb
[submodule "ecosystem/playground"]
	path = ecosystem/playground
	url = https://github.com/lang-bmb/playground
[submodule "ecosystem/vscode-bmb"]
	path = ecosystem/vscode-bmb
	url = https://github.com/lang-bmb/vscode-bmb
[submodule "ecosystem/benchmark-bmb"]
	path = ecosystem/benchmark-bmb
	url = https://github.com/lang-bmb/benchmark-bmb
[submodule "ecosystem/lang-bmb-site"]
	path = ecosystem/lang-bmb-site
	url = https://github.com/lang-bmb/lang-bmb-site
[submodule "ecosystem/gotgan-packages"]
	path = ecosystem/gotgan-packages
	url = https://github.com/lang-bmb/gotgan-packages
